PORT=3000
SESSION_SECRET=webauthn_study_secret_key_2025
RP_NAME=WebAuthn Usability Study
#RP_ID=localhost
#ORIGIN=http://localhost:3000

RP_ID=deliverer-connector-snub.ngrok-free.dev
ORIGIN=https://deliverer-connector-snub.ngrok-free.dev